<html>
  <head>
    <title>Flask Intro - Update page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="static/bootstrap.min.css" rel="stylesheet" media="screen">
  </head>
  <body>
    <div class="container">
      <h1>Please Update password</h1>
      <br>
      <form action="" method="post">
        <input type="text" placeholder="Username" name="username" value="{{
          request.form.username }}">
         <input type="password" placeholder="Password" name="password" value="{{
          request.form.password }}">
         <input type="password" placeholder="New Password" name="new_password" value="{{
          request.form.new_password }}">
        <input class="btn btn-default" type="submit" value="Login">
      </form>
    </div>
  </body>
</html>